*{
    box-sizing: border-box;
}
.player{
    display:flex;
    height:33vh;
    width: 100%;
    &__origin{
        display:flex;
        flex-direction: column;
        width:20%;
        justify-content: space-between;
    }
    &__club{
        font-weight: bold;
        font-size: 1.5rem;
       display:inline;
       white-space: nowrap;
    }
    &__title{
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
        display:inline;
        white-space: nowrap;
    }
    &__flag{
        object-fit: scale-down;
        margin-left: 1rem;
    }
    &__scores{
        display:flex;
        flex-direction:row;
        justify-content: center;
        column-gap: 2rem;
        align-items: center;
        flex-grow: 2;
        width:50%;
        margin: 0 auto;
        background-color: white;
        position: relative;
    }
    &__blank{
        background-color: white;
        height:100%;
        padding-left:100%;
        position: absolute;
        right:-100%;
    }
    &__scorecount{
        font-weight: bolder;
        margin: 0;
        font-size: 25vh;
        line-height: 0;
    }
    &__shido{
        color:gray;
        font-size: 2rem;
        object-fit: contain;
    }
    &__right{
        display: flex;
        flex-direction: column;
        width:70vw;
    }
}