.controllerform{
    width:60%;
}
.flex-input{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-radio{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}